.border-right{
    border-right: 1px solid rgb(209, 103, 103);
}

.addCartbtn{
    padding: 3px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
}
.borderbox{
    border: 1px solid gray;
    box-shadow: 0px 0px 5px 4px rgb(182, 154, 154);
    border-radius: 5px;
}
