.hothealbg {
    background-color: rgb(201, 183, 183);
}

.time {
    background: red;
    padding: 10px 30px;
    /* border-radius: 50px; */
    text-align: center;
    /* font-size: 20px; */
}

.insidesmall {
    font-size: 12px;
}

.hdtw {
    font-weight: bold;

}

.ncuto {
    letter-spacing: 5px;
    font-size: 20px;
}

.shopbtn {
    padding: 7px 20px;
    border-radius: 10px;
    text-align: center;
    background: rgb(255, 29, 29);
    border:none;

}
